fastapi
uvicorn

langchain
langchain-community

sentence-transformers


requests


python-multipart
python-dotenv




chromadb==0.5.5
pydantic==2.7.4
pydantic-settings==2.3.4

langgraph
langchain-core

torch
pillow
transformers
git+https://github.com/openai/CLIP.git